<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to balena!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="public/bootstrap.min.css" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="public/main.css" />
    
     <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

  </head>
  <body>
    <div class="header">
      <nav class="navbar">
        <div class="container d-flex justify-content-center">
          <a href="http://balena.io/" target="_blank">
            <img style="width: 6rem; height: auto;" src="public/logo.svg">
          </a>
        </div>
      </nav>
    </div>

    <div class="container mt-5 mb-5 p-0 pb-5">

      <div class="row d-flex flex-column align-items-center">
        <h1>Welcome to balena!</h1>
        <p class="text-center pl-5 pr-5 pt-0 pb-0">Now that you've deployed a device,<br /> learn more about balena!</p>
      </div>

    

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="8000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row d-flex justify-content-center">
                <div class="box">
                  <h5 class="title">Great for digital signage</h5>
          <p>Balena has done all of the hard work<br /> to provide IoT fleet management! </p>
          <p>You can concentrate on building the best<br /> digital signage platform.</p>
          <a class="button" href="https://www.balena.io/contact-sales/">Get in touch</a>
          
    </div>
    </div>
   </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="box">
      <h5 class="title">Discover more balena project ideas</h5>

          <p>Find inspiration for what to build next, deploy another cool project,<br /> or see what others have created!</p>
          <a class="button" href="https://blog.balena.io/category/case-study/">View balena case studies</a>
          
    </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="box">
          <h5 class="title">Learn about our platform</h5>
          <ul>
            <li>Manage massive fleets of small devices</li>
            <li>A secure container-based technology stack</li>
            <li>Over-the-air app and OS updates</li>
            <li>Deploy device configurations across your fleet</li>
            <li>And much more!</li>
          </ul>
          <br />
          <a class="button" href="https://www.balena.io/docs">Explore the balena documentation</a>
        </div>
    </div>
  </div>
</div>

      </div>

    </div>
    <canvas id="canvas"></canvas>
    <script src="public/confetti.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
